*
{
	margin: 0;
	padding: 0;
	outline: none;
	font-family: "Segoe UI", Arial;
}
body
{
    color: #fff;
	background-color: #2a4c7d;   
}
#ah
{
    padding: 300px;   
    width: 100%;
    height: 600px;
    background-image: url(../img/plane.jpg);
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(21, 30, 42, 0.514);
    background-blend-mode: multiply;
}
#ah h1
{
    text-align: center;
    vertical-align: middle;
    line-height: 50px;

}
#ah h3
{
    text-align: center;
    vertical-align: middle;
}
#mySidenav a
{
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 12pt;
    display: flex;
    flex-direction: column;
    
}
section
{
    margin-left:200px;
}
#first
{
    background-image: url(../img/tour.jpg);
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(21, 30, 42, 0.514);
    background-blend-mode: multiply;
    text-align: center;
	width: 100%;
    height: 800px;
	color: #fff;
    font-size: 12pt;
    

}
#first h1
{
    text-align: center;
	color: #fff;
    text-shadow: 1px 1px 2px black;
	padding-top: 120px;
	font-size: 26pt;
	font-family: "Segoe UI", Arial;
    vertical-align: middle;
}
#first p
{
    text-align: center;
    font-size: 16pt;
    margin: 15px 50px 50px 50px;
}

#ticket
{
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 2px black;
    padding: 70px;   
    width: 100%;
    height: 300px;
	font-family: "Segoe UI", Arial;
    vertical-align: middle;
    margin-bottom: 100px;

    background-color: #4343be; 
    border:6px #dfe2eb ridge;

    
}

#ticket h3{
    
    margin-bottom: 20px;

}

.btns_container input
{
    margin-bottom: 0px; 
}
footer 
{
	margin-top: 40px;
	width: 100%;
	text-align: center;
	font-size: 12pt;
	clear: both;
}
#table
{
    margin: 15px 15px 15px 205px;
    text-align: center;

}
#table img{
    width: 300px;
    height: 200px;
    margin: 15px 0px 15px 15px;

}

